<% layout("/layouts/boilerplate") %>
<body>
    <h3>Below are all the listings</h3>
    <div class="row row-cols-xxl-5 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
        <% for( let listing of allListings ) { %>
            <a href="/listings/<%= listing._id %>" class="listing-links">
                <div class="card col">
                        <img src="<%= listing.image.url %>" 
                        class="card-img-top" 
                        alt="listing_img" 
                        style="height: 20rem;">

                         <div class="card-img-overlay"></div>

                        <div class="card-body">
                            <h5 class="card-title"><%= listing.title %></h5>
                            <p class="card-desc"><%= listing.description %></p>
                            <p class="card-price">₹ <%= listing.price %> /night</p>
                        </div>
                </div>
            </a>
            <% } %>
    </div>
</body>
