<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Listing Details: </h3>
        </div>
            <div class="card col-6 offset-2 show-card listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_img">
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %> </b><br>
                        <%= listing.description %> <br>
                        £<%= listing.price %> for 2 nights <br>
                        <%= listing.location %> <br>
                        <%= listing.country %>
                    </p>
                </div>
            </div>
    </div>
    <div class="btns mb-5">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark add-btn col-1 offset-2 me-3">Edit the Listing</a>
        <form action="/listings/<%= listing._id %>?_method=delete" method="post">
            <button class="btn btn-dark">Delete this Listing</button>
        </form>
    </div>

    <div class="col-8 offset-2 mb-3">
        <hr>
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate>
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating: </label>
                <input type="range" min="1" max="5" class="form-range" id="rating" name="rating">
            </div>

            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comment: </label>
                <textarea name="comment" id="comment" cols="30", rows="5" class="form-control" required></textarea>
            </div>
            <div class="invalid-feedback">Please Enter a comment</div>

            <div class="mb-4">
                <button class="btn btn-outline-dark">Submit</button>
            </div>
        </form>

        <hr>

        <p style="font-size: 30px;"><b>All Reviews</b></p>

        <div class="row">
            <% for(review of listing.reviews) { %>
                <div class="card col-5 ms-3 mb-3 flex-fill shadow-lg border" style="margin-right: 10px;">
                        <div class="card-body">
                        <h5 class="card-title">Vraj</h5>
                        <p class="card-text"><%= review.comment %></p>
                        <p class="card-text">
                            <% for (let i = 0; i < review.rating; i++) { %>
                                <i class="fas fa-star text-warning"></i>
                            <% } %>
                            <% for (let i = review.rating; i < 5; i++) { %>
                                <i class="far fa-star text-warning"></i>
                            <% } %>
                        </p>

                        <form class="mb-3" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=delete" method="post">
                            <button class="btn btn-sm btn-dark">Delete this Review</button>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>
