<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Listing Details: </h3>
        </div>
            <div class="card col-6 offset-2">
                <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_img">
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %> </b><br>
                        <%= listing.description %> <br>
                        ₹ <%= listing.price %> <br>
                        <%= listing.location %> <br>
                        <%= listing.country %>
                    </p>
                </div>
            </div>
    </div>
    <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark add-btn col-1 offset-2 me-3">Edit the Listing</a>

        <form action="/listings/<%= listing._id %>?_method=delete" method="post">
            <button class="btn btn-dark">Delete this Listing</button>
        </form>
    </div>
</body>
